@font-face {
  font-family: dbHelvethaica;
  src: url(https://raw.githubusercontent.com/illusionjew/stackblitz-liff-template/main/assets/fonts/DB-Helvethaica-X-v3.2.ttf);
}

tbody,
td,
tfoot,
th,
thead,
tr {
  border-width: 1px !important;
}

.logo-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 50px;
  border-radius: 50%;
  padding-top: 7px;
  padding-bottom: 7px;
}

.navbar-style {
  background-color: #002d74;
}

.form-container {
  margin-top: 55px;
}

.form-title {
  font-family: dbHelvethaica;
  font-size: 25px;
  font-weight: bold;
}

.form-subtitle {
  font-family: dbHelvethaica;
  color: gray;
  font-size: 20px;
  font-weight: lighter;
}

.form-body {
  margin-top: 15px;
  padding-left: 20px;
  padding-right: 20px;
}

#PrefixnameDiv {
  display: none;
}

.gender-radio {
  border: 0px;
}

.btn-registration {
  color: white;
  background-color: #002d74;
}

.btn-registration:hover {
  color: white;
  background-color: #002d74;
}

.form-label,
.form-select,
.form-control {
  font-family: dbHelvethaica;
  font-size: 20px !important;
}

.form-label {
  margin-bottom: 4px;
}

#BtnRejectConsent {
  width: 50%;
  border-color: red;
  background-color: white;
  color: red;
}

#BtnSaveConsent {
  width: 50%;
  color: white;
  background-color: #002d74;
}

#BtnSaveConsent:disabled {
  color: white;
  background-color: gray;
}

.AlreadyRegister {
  font-family: dbHelvethaica;
  text-align: center;
}
